<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DeviceFixingManaging</display-name>
  <servlet>
    <servlet-name>QueryCustomerServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.QueryCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddReportServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.AddReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmReportServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.ConfirmReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryReportRecordServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.QueryReportRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryReportEquipmentServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.QueryReportEquipmentServlet</servlet-class>
  </servlet>
  <display-name>DeviceFixingManaging</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryCompletedTasksServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.QueryCompletedTasksServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPriceServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.AddPriceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditPriceDetailServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.EditPriceDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateReportServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.UpdateReportServlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>AddPartDetailServiceManServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.AddPartDetailServiceManServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChuKuQueryPartDetailServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.ChuKuQueryPartDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChuKuUpdatePartServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.ChuKuUpdatePartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryPartDetailKeeperServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.QueryPartDetailKeeperServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryPartKeeperServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.QueryPartKeeperServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryPartServiceManServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.QueryPartServiceManServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryRepairRecordServiceManServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.QueryRepairRecordServiceManServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryRepairRecordTaskServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.QueryRepairRecordTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryStaffTaskServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.QueryStaffTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RuKuServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.RuKuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateRepairRecordServiceManServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.UpdateRepairRecordServiceManServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateRepairRecordTaskServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.UpdateRepairRecordTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryPriceServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.QueryPriceServlet</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>QueryCustomerServlet</servlet-name>
    <url-pattern>/servlet/QueryCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/servlet/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/servlet/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/servlet/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddReportServlet</servlet-name>
    <url-pattern>/servlet/AddReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmReportServlet</servlet-name>
    <url-pattern>/servlet/ConfirmReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryReportRecordServlet</servlet-name>
    <url-pattern>/servlet/QueryReportRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryReportEquipmentServlet</servlet-name>
    <url-pattern>/servlet/QueryReportEquipmentServlet</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryCompletedTasksServlet</servlet-name>
    <url-pattern>/servlet/QueryCompletedTasksServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPriceServlet</servlet-name>
    <url-pattern>/servlet/AddPriceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditPriceDetailServlet</servlet-name>
    <url-pattern>/servlet/EditPriceDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateReportServlet</servlet-name>
    <url-pattern>/servlet/UpdateReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPartDetailServiceManServlet</servlet-name>
    <url-pattern>/servlet/AddPartDetailServiceManServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChuKuQueryPartDetailServlet</servlet-name>
    <url-pattern>/servlet/ChuKuQueryPartDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChuKuUpdatePartServlet</servlet-name>
    <url-pattern>/servlet/ChuKuUpdatePartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryPartDetailKeeperServlet</servlet-name>
    <url-pattern>/servlet/QueryPartDetailKeeperServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryPartKeeperServlet</servlet-name>
    <url-pattern>/servlet/QueryPartKeeperServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryPartServiceManServlet</servlet-name>
    <url-pattern>/servlet/QueryPartServiceManServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryRepairRecordServiceManServlet</servlet-name>
    <url-pattern>/servlet/QueryRepairRecordServiceManServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryRepairRecordTaskServlet</servlet-name>
    <url-pattern>/servlet/QueryRepairRecordTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryStaffTaskServlet</servlet-name>
    <url-pattern>/servlet/QueryStaffTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RuKuServlet</servlet-name>
    <url-pattern>/servlet/RuKuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateRepairRecordServiceManServlet</servlet-name>
    <url-pattern>/servlet/UpdateRepairRecordServiceManServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateRepairRecordTaskServlet</servlet-name>
    <url-pattern>/servlet/UpdateRepairRecordTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryPriceServlet</servlet-name>
    <url-pattern>/servlet/QueryPriceServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
      <servlet>
        <servlet-name>BossQueryCustomerServlet</servlet-name>
        <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.BossQueryCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BossQueryPartKeeperServlet</servlet-name>
        <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.BossQueryPartKeeperServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BossQueryPartKeeperServlet</servlet-name>
        <url-pattern>/servlet/BossQueryPartKeeperServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BossQueryCustomerServlet</servlet-name>
        <url-pattern>/servlet/BossQueryCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BossQueryPriceServlet</servlet-name>
        <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.BossQueryPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BossQueryRepairRecordTaskServlet</servlet-name>
        <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.BossQueryRepairRecordTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BossQueryPriceServlet</servlet-name>
        <url-pattern>/servlet/BossQueryPriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BossQueryRepairRecordTaskServlet</servlet-name>
        <url-pattern>/servlet/BossQueryRepairRecordTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GenerateCheckServlet</servlet-name>
        <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.GenerateCheckServlet</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>UpdateEquipServlet</servlet-name>
    <servlet-class>edu.heusoft.DeviceFixingManaging.servlet.UpdateEquipServlet</servlet-class>
  </servlet>

    <servlet-mapping>
        <servlet-name>GenerateCheckServlet</servlet-name>
        <url-pattern>/servlet/GenerateCheckServlet</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEquipServlet</servlet-name>
    <url-pattern>/servlet/UpdateEquipServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>Charset</filter-name>
  	<filter-class>edu.heusoft.DeviceFixingManaging.filter.CharsetFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>Charset</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>